@use "sass:math";
//====================================================================================================
//Percent
@function percent($px, $from) {
	$result: calc($px / $from) * 100%;
	@return $result;
}
//REM
@function rem($px) {
	$result: calc($px / 16) + rem;
	@return $result;
}
//EM
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}

.filter {

	margin-top: rem(20);
	display: none;
	background: #F8F8F8;
	font-family: 'Spartan';
	font-size: 13px;
	height: 300%;
	margin: 0 auto;
	padding: 20px;
	justify-content: space-between;
	flex-wrap: wrap;

	.filter-block {
		 min-width: 220px;
		 height: 272px;
		 overflow: auto;
		 margin: 0 10px;

		 input {
			  margin-right: 10px;
			  width: 18px;
			  height: 18px;
		 }
	}
	
	.filter-title {
		 display: block;
		 font-size: 14px;
		 font-weight: bold;
		 margin: 10px 0 20px;
	}
}

.filter.visible {
	display: flex;
}

.show-filter-result {
	width: 89%;
	margin: 0 auto;
	padding-top: 10px;

	.show-filter-result-opasity, .show-filter-result-bold {
		 font-size: 12px;
		 display: inline-block;
		 margin: 0 5px;
		 font-weight: bold;
	}

	.show-filter-result-opasity {
		 opacity: 40%;
		 margin: 0 5px;
	}
}
.filter-color {
	display: flex;
	align-items: center;
	gap: rem(10);
	padding-bottom: rem(10);
}
.container {
	margin-top: rem(20);
}

.woomen_catalog__card__OZfcp {
	margin-bottom: rem(30);
}