@use "sass:math";
//====================================================================================================
//Percent
@function percent($px, $from) {
	$result: calc($px / $from) * 100%;
	@return $result;
}
//REM
@function rem($px) {
	$result: calc($px / 16) + rem;
	@return $result;
}
//EM
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}

.filters {
	&__container {
		max-width: 90em;
		padding: rem(20) rem(15);
		margin: 0 auto;
	}
}

.filter {
	
	// .filter__title
	&__title {
		font-family: 'Spartan';
		font-style: normal;
		font-weight: 600;
		font-size: rem(22);
		line-height: 25px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #121212;
		padding-right: rem(20);
	}

	// .filter__body
	&__body {
		white-space: nowrap;
		overflow: auto;
		height: 1.75rem;
		padding-top: 5px;
		@media(max-width:479.98px) {
			margin-top: rem(10);
		}
	}

	// .filter__list
	&__list {
		display: flex;
		align-items: center;
		gap: clamp(rem(10), 1.7vw, rem(32));
	}

	// .filter__item
	&__item {
	}

	// .filter__link
	&__link {
		font-family: 'Spartan';
		font-style: normal;
		font-weight: normal;
		font-size: rem(12);
		line-height: 13px;
		letter-spacing: 0.06em;
		color: #121212;
		opacity: 0.6;
		&_active {
			opacity: 1;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.filter_body {
	
	// .filter-body__filter
	&__filter {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media(max-width: 479.98px) {
			display: block;
		}
	}
}
//============================================