@use "sass:math";
//====================================================================================================
//Percent
@function percent($px, $from) {
	$result: calc($px / $from) * 100%;
	@return $result;
}
//REM
@function rem($px) {
	$result: calc($px / 16) + rem;
	@return $result;
}
//EM
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}

.filter__link {
	padding-left: rem(10);
	font-family: 'Spartan';
	font-style: normal;
	font-weight: normal;
	font-size: rem(12);
	line-height: 13px;
	letter-spacing: 0.06em;
	color: #121212;
	opacity: 0.6;

	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}

.filter_link__active {
	opacity: 1;
}

.clothes-filter-btn {
	font-size: 12px;
	opacity: 60%;
	cursor: pointer;
	font-family: 'Spartan';
 }

 .clothes-filter-btn input {
	display: none;
 }

 .clothes-filter-menu {
	width: 60%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		 -ms-flex-pack: justify;
			  justify-content: space-between;
	-ms-flex-wrap: wrap;
		 flex-wrap: wrap;
 }

 .woomen_filter__list__Cqoc8 li{
	 display: flex;
	 gap: rem(15);
 }